td {
    width: 25%;
    align-items: center;
    border-bottom: 1px solid #dee2e6;
  }
  table th {
    width: 25%;
    border-bottom: 1px solid #dee2e6;
    align-items: center;
    background-color: white;
  }
  
  .card-header > .card-tools {
    float: left;
  }
  .img-container img {
    width: 100%;
  }
  
  .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    word-wrap: break-word;
    width: 100%;
    background-color: #ffffff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
  }
  

  .badge-success{
    padding-left: 20px;padding-right: 20px;
  }