<div class="wrapper">
    <app-header></app-header>
    <app-sidebar></app-sidebar>
  
    <!-- Content Wrapper. Contains page content -->
  
    <div class="content-wrapper">
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h5 class="m-0 text-dark">User Details</h5>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="card">
              <div class="card-header border-transparent">
                <div class="card-tools">  <!--    -->
                  <button type="button" class="btn btn-sm btn-outline-info" (click)="editUser()" style="margin-left: 25cm"> 
                    <i class="fas fa-pen">&nbsp;Edit</i>
                  </button> 
                </div>
              </div>
  
              <div class="table-responsive">
                <table class="table table-01" id="example1">
                  <tr>
                    <th>User ID</th>
                    <td>{{ dataSource.userID }}</td>
  
                    <th>Full Name</th>
                    <td>{{ dataSource.fullName }}</td>
                  </tr>
  
                  <tr>
                    <th>Email</th>
                    <td>{{ dataSource.email }}</td>
  
                    <th>Email Status</th>
                    <td>
                      
                      <div  *ngIf="dataSource.emailStatus == '0'">
                       <small class="badge badge-primary">Not-Verified</small>
                      </div>

                      <div *ngIf="dataSource.emailStatus == '1'">
                        <small class="badge badge-success" >Verified</small>
                      </div>
                    </td>

                  </tr>

                  <tr>
                   
                    <th>Phone No</th>
                    <td>{{ dataSource.phoneNo }}</td>

                    <th>Phone Status</th>
                    <td>
                      
                      <div  *ngIf="dataSource.phoneStatus == '0'">
                       <small class="badge badge-primary">Not-Verified</small>
                      </div>

                      <div *ngIf="dataSource.phoneStatus == '1'">
                        <small class="badge badge-success">Verified</small>
                      </div>
                    </td>

                  </tr>
  
                  <tr>
                    <th>Address Line 1</th>
                    <td colspan="5">{{ dataSource.addressLine1 }}</td>
                  </tr>

                  <tr>
                    <th>City</th>
                    <td>{{ dataSource.city }}</td>
  
                    <th>Country</th>
                    <td>{{ dataSource.country }}</td>
                  </tr>
  
                  <tr>
                    <th>Current Location</th>
                    <td>{{ dataSource.currentLocation }}</td>

                    <th>Registered At</th>
                    <td>{{ dataSource.createdAt }}</td>

                  </tr>
                </table>
              </div>
            
             
              <div class="card-footer clearfix"></div>
            </div>
          </div>
        </div>

        <div class="">
          <div class="container-fluid">
            <div class="card">
              <div class="card-header border-transparent">
                <div class="card-tools">
                  <h5>Order Details</h5>
                </div>
              </div>
  
              <table class="table">
                  
                <thead>
                  <tr>
                    <th>Order Id</th>
                    <th>Item Count</th>
                    <th>Order Amount</th>
                    <th>Seller</th>
                    <th>Order Status</th>
                    <th>Date</th>
                  </tr>
                </thead>
              
                <tbody *ngFor="let order of orderHistory" >  <!-- *ngFor="let item of storeList" -->
                  <tr>
                    <td><div>{{order.orderID}}</div></td>
                    <td><div>{{order.itemCount}}</div></td>
                    <td><div>{{order.orderAmount}}</div></td>
                    <td><div>{{order.orderID}}</div></td>
                    <td><div>{{order.orderStatus}}</div></td>
                    <td><div>{{order.createAt}}</div></td>
                  </tr>
                </tbody>
              </table>

              <div class="card-footer clearfix"></div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  