<div class="wrapper">
    <app-header></app-header>
    <app-sidebar></app-sidebar>

  <div class="content-wrapper">

    <section class="content-header">
      <div class="col-md-12">
        <h3> Notification</h3>
      </div>   
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="col-md-8">

            <div class="box box-info">
                <div class="box-body">

                    <div class="form-group">
                        <label for="sel1">Security</label>
                        <select class="form-control js-example-basic-single" id="sel1" [(ngModel)]="notificationForm.selectedStock" chosen>
                          <option>Choose..</option>
                          <option *ngFor="let stocks of stockLists; let i = index">{{stocks.code}} - {{stocks.name}}</option>
                        </select>

                      </div>
                    
                      <div class="form-group">
                        <label for="email">Buying Range:</label>
                        <input type="text" class="form-control" placeholder="Buying Range" [(ngModel)]="notificationForm.buyingRange">
                      </div>
                    
                      <div class="form-group">
                        <label for="email">Chart Link:</label>
                        <input type="text" class="form-control" placeholder="Chart Link" [(ngModel)]="notificationForm.chartLink">
                      </div>
                    
                      <div class="form-group">
                        <label for="comment">Note:</label>
                        <textarea class="form-control" rows="3" placeholder="Comment" [(ngModel)]="notificationForm.note"></textarea>
                      </div>
                    
                      <div class="form-group">
                        <label for="email">Chart Link:</label>
                        <input type="file" id="" class="form-control" (change)="handleFileSelect($event)">
                      </div>

                      <h3>{{errorMsg}}</h3>
                      
                      <button type="submit"  (click)="sendNotification();"  class="btn btn-primary" style="margin-right: 50px;">Send Notification</button>
                       
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
 

</div>      