<!-- <div class="col-12">
<div class="login-page col-12">
  <div class="login-logo">
    <b>Whoopy Digital </b>Admin
  </div>
  <div class="card col-4">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Sign in to start your session</p>
      <form action="#" (ngSubmit)="onLogIn()">
        <div class="input-group mb-3">
          <input type="number" class="form-control" placeholder="Mobile No" [(ngModel)]="phoneNo" name="phoneNo" >
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password" name="password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <p style="color:red">{{warningMessage}}</p>
        <div class="row">
          <div class="col-12" style="text-align: right;">
            <button type="submit" class="btn btn-primary">Sign In</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div> -->

<div class="login-box login-page">

  <!-- /.login-logo -->
  
  <div class="login-box-body">
    <h3 class="login-box-msg"><b>Whoopy Digital</b>Admin</h3>
    <p class="login-box-msg">Sign in to start your session</p>

      <div class="form-group has-feedback">
        <input type="text" class="form-control" placeholder="User Id" [(ngModel)]="phoneNo" >
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <!-- /.col -->
        <div class="col-xs-4">
          <button  (click)="onLogIn()" class="btn btn-primary btn-block btn-flat">Sign In</button>
        </div>
        <!-- /.col -->
      </div>
    <!-- /.social-auth-links -->

  </div>
 </div> 

 
  <!-- /.login-box-body -->
