<div class="wrapper">
  <app-header></app-header>
  <app-sidebar></app-sidebar>
  <div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h5 class="m-0 text-dark">User List</h5>
          </div>
        </div>
      </div>
    </div>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="card">
            <div class="card-header border-transparent">
              <div class="card-tools">
                 <button type="button" class="btn btn-outline-primary btn-sm" (click)="exportTable()">Export</button>
              </div>
              <div style="float: right">
                <input class="form-control" type="text" [(ngModel)]="searchText" placeholder="Search"/>
              </div>
            </div>

            <div class="card-body p-0" id="excel-table">
              <table class="table">
                <thead>
                  <tr>
                    <th>No</th>
                    <th>user Id</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Phone No</th>
                    <th>City</th>
                    <th>Country</th>
                    <th>Current Location</th>
                  </tr>
                </thead>
                <tbody *ngFor="let number of [0, 1, 2, 3, 4, 5, 6, 7, 9, 10]">
                  <tr *ngIf="loader">
                    <td>
                      <ngx-shimmer-loading
                        [shape]="'rect'"
                        [width]="'80px'"
                        [height]="'25px'"
                      ></ngx-shimmer-loading>
                    </td>
                    <td>
                      <ngx-shimmer-loading
                        [shape]="'rect'"
                        [width]="'80px'"
                        [height]="'25px'"
                      ></ngx-shimmer-loading>
                    </td>
                    <td>
                      <ngx-shimmer-loading
                        [shape]="'rect'"
                        [width]="'80px'"
                        [height]="'25px'"
                      ></ngx-shimmer-loading>
                    </td>
                    <td>
                      <ngx-shimmer-loading
                        [shape]="'rect'"
                        [width]="'80px'"
                        [height]="'25px'"
                      ></ngx-shimmer-loading>
                    </td>
                    <td>
                      <ngx-shimmer-loading
                        [shape]="'rect'"
                        [width]="'80px'"
                        [height]="'25px'"
                      ></ngx-shimmer-loading>
                    </td>
                    <td>
                      <ngx-shimmer-loading
                        [shape]="'rect'"
                        [width]="'80px'"
                        [height]="'25px'"
                      ></ngx-shimmer-loading>
                    </td>
                    <td>
                      <ngx-shimmer-loading
                        [shape]="'rect'"
                        [width]="'80px'"
                        [height]="'25px'"
                      ></ngx-shimmer-loading>
                    </td>
                    <td>
                      <ngx-shimmer-loading
                        [shape]="'rect'"
                        [width]="'80px'"
                        [height]="'25px'"
                      ></ngx-shimmer-loading>
                    </td>
                  </tr>
                </tbody>
                <tbody *ngFor="let item of dataSource | filter: searchText; let i = index">
                  <tr>
                    <td>
                      <div *ngIf="!loader">{{ i + 1 }}</div>
                    </td>
                    <td>
                      <div *ngIf="!loader">
                        <a routerLink="" (click)="onClickUser(item)"> {{ item.userID }}</a>
                      </div>
                    </td>
                    <td>
                      <div *ngIf="!loader">{{ item.fullName }}</div>
                    </td>
                    <td>
                      <div *ngIf="!loader">{{ item.email }}</div>
                    </td>
                    <td>
                      <div *ngIf="!loader">{{ item.phoneNo }}</div>
                    </td>
                    <td>
                      <div *ngIf="!loader">{{ item.city }}</div>
                    </td>
                    <td>
                      <div *ngIf="!loader">{{ item.country }}</div>
                    </td>
                    <td>
                      <div *ngIf="!loader">{{ item.currentLocation }}</div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
