td {
    padding: 15px;
    text-align: center;
  }

th
  {
    padding: 15px;
    text-align: center;
  }
  .content {
    padding: 0 0.9rem;
    background-color: white;
  }
  .card-header > .card-tools {
    float: left;
  }
  .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    word-wrap: break-word;
    width: 100%;
    background-color: #ffffff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
  }
  