 <!-- Left side column. contains the logo and sidebar -->
 <aside class="main-sidebar " style="height: 800px;">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="https://nutritionistmisha.com/MishaAdmin/assets1/dist/img/user2-160x160.jpeg" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>Whoopy Digital</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
   
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">MAIN NAVIGATION</li>
    
      <!-- <li class="active treeview"><a routerLink="/home"><i class="fa fa-laptop text-red"></i> <span>Dashboard</span></a></li>

      <li class="active treeview"><a routerLink="/sendNotification"><i class="fa fa-laptop text-red"></i> <span>Send Message</span></a></li> -->
      <li class="active treeview"><a routerLink="/tUserList"><i class="fa fa-laptop text-red"></i> <span>Users</span></a></li>

    
      <!-- <li class="treeview">
        <a href="#">
          <i class="fa fa-laptop"></i>
          <span>Stocks Notification</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="/sendNotification"><i class="fa fa-circle-o"></i> Send Notification</a></li>
          <li><a href="/tUserList"><i class="fa fa-circle-o"></i>User List</a></li>
        </ul>
      </li> -->
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>