<div class="wrapper">
    <app-header></app-header>
    <app-sidebar></app-sidebar>
  
    <!-- Content Wrapper. Contains page content -->
  
    <div class="content-wrapper">
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-12">
              <h5 class="m-0 text-dark">User Details</h5>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="">
            <div class="card card-body">
             
            <form [formGroup]="FileForm" (ngSubmit)="onEditClick()">

              <div class="col-md-6 mb-3">
                <input type="hidden" class="form-control" formControlName="userId" placeholder="Enter Full Name" />
              </div>

              <div class="form-row">

                <div class="col-md-6 mb-3">
                  <label>Full Name</label>
                  <input type="text" class="form-control" formControlName="fullName" placeholder="Enter Full Name" />
                </div>

                <div class="col-md-6 mb-3">
                  <label>Email</label>
                  <input type="text" class="form-control" formControlName="emailId" placeholder="Enter Email" />
                </div>

              </div>

              <div class="form-row">

                <div class="col-md-6 mb-3">
                  <label>Phone No</label>
                  <input type="text" class="form-control" formControlName="phoneNo" placeholder="Enter Phone No"  readonly/>
                </div>

                <div class="col-md-6 mb-3">
                  <label>Address Line 1</label>
                  <input type="text" class="form-control" formControlName="addressLine1" placeholder="Enter Address Line 1" />
                </div>

              </div>

              <div class="form-row">

                <div class="col-md-6 mb-3">
                  <label>City</label>
                  <input type="text" class="form-control" formControlName="city" placeholder="Enter City" />
                </div>

                <div class="col-md-6 mb-3">
                  <label>Country</label>
                  <input type="text" class="form-control" formControlName="country" placeholder="Enter Country" />
                </div>

              </div>

              <button type="submit" class="btn btn-primary " style="float: right;">Update</button>
             
            </form>  
            
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  