<div class="wrapper">
  <app-header></app-header>
  <app-sidebar></app-sidebar>

  <div class="content-wrapper" style="height: 700px">
    <!-- Main content -->
    <section class="content">
      <div class="col-md-12">
        <div class="box">
          <!-- /.box-header -->

          <div class="container-fluid" style="display: flex; margin-top: 15px;margin-bottom: 10px;">

          <div
            class="input-group"
            style="width: 20%;"
            dropdown
          >
            <select
              class="form-control"
              id="sel1"
              (change)="onOptionsSelected($event)"
              [(ngModel)]="selectedOption"
            >
              <option selected>All</option>
              <option value="Hindi_Page">Hindi Page</option>
              <option value="Female_Page">Female Page</option>
              <option value="South_Page">South Page</option>
              <option value="Fitness_Page">Fitness Page</option>
              <option value="Motivation_Page">Motivation Page</option>
              <option value="Fact_Page">Fact Page</option>
              <option value="Marathi_Page">Marathi Page</option>
              <option value="Writting_Page">Writting Page</option>
              <option value="Gujarati_Page">Gujarati Page</option>
            </select>
            
            </div>
          
            <button
            type="button"
            (click)="exportExcel()"
            class="btn btn-primary btn-sm"
            style="margin-left: 10px"
          >
            Export All data
          </button>
          <button
            type="button"
            style="margin-left: 10px"
            (click)="selectedExcel()"
            class="btn btn-success btn-sm"
          >
            Export Selected data
          </button>
         
          <p style="margin-left: 409px;">
            <strong>Total Followers- </strong>
            <span style="width: 150px; color:white; height: 20px;" class="badge bg-dark"
              >{{ newText }} ({{ totalFollowers }})</span
            >
          </p>
           
         

        </div>

          <div class="box-body">
            <table id="excel-table" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Select</th>
                  <th>Id</th>
                  <th>Page Name</th>
                  <th>Followers</th>
                  <th>Page Category</th>
                  <th>link</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of userLists">
                  <div
                    class="form-check"
                    style="text-align: center; margin-top: 10px"
                  >
                    <input
                      class="form-check-input"
                      type="checkbox"
                      [value]="user.id"
                      id="defaultCheck1"
                      (change)="onChange($event)"
                    />
                  </div>
                  <!-- <input type="form-check-input" type="checkbox" value="" id="defaultCheck1"
                      [value]="user.id" class="custom-control-input"(change)="onChange($event)"> -->
                  <td>{{ user.id }}</td>
                  <td>{{ user.pageName }}</td>
                  <td>{{ user.followers }}</td>
                  <td>{{ user.pageCategory }}</td>
                  <td>
                    <a href="{{ user.link }}">{{ user.link }}</a>
                  </td>
                  <td>
                    <i
                      class="fa fa-pencil-square-o"
                      (click)="editUser(user)"
                      aria-hidden="true"
                      style="cursor: pointer; font-size: 20px"
                      data-toggle="modal"
                      data-target="#myModal"
                    ></i>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- <div style="float: right;">
                    <pagination-controls id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page=$event"></pagination-controls>
                  </div> -->
          </div>
          <!-- /.box-body -->
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog" >
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                &times;
              </button>
              <h4 class="modal-title">Edit</h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="email">Id</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Chat Id"
                  [(ngModel)]="chatDetailsObj.id"
                  readonly
                />
              </div>

              <div class="form-group">
                <label for="email">Page Name</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Client Code"
                  [(ngModel)]="chatDetailsObj.pageName"
                />
              </div>

              <div class="form-group">
                <label for="email">Followers</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="User Name"
                  [(ngModel)]="chatDetailsObj.followers"
                />
              </div>

              <div class="form-group">
                <label for="email">Page Category</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="First Name"
                  [(ngModel)]="chatDetailsObj.pageCategory"
                />
              </div>

              <div class="form-group">
                <label for="email">Link</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Last Name"
                  [(ngModel)]="chatDetailsObj.link"
                />
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-success"
                (click)="updateClientProfile()"
              >
                Submit
              </button>
              <button
                type="button"
                class="btn btn-default"
                data-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</div>
